*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightslategrey;
}

.bar{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: blue;
    cursor: pointer;
}

.sidebar{
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 30%;
    height: 100vh;
    transform: translate(-100%); 
    transition: 0.4s;   
}

.showSidebar{
    transform: translate(0%);
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: blue;
    cursor: pointer;
}

ul{
    margin-top: 65px;
}

li{
    list-style-type: none;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    padding: 15px 25px;
    display: block;
    transition: background-color 0.3s;
}

a:hover{
    background-color: darkcyan;
    color: white;
    text-indent: 20px;
}